@model TheBigDukan.Product

@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Maker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Maker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Update_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Update_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpDate_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpDate_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discounted_Prize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discounted_Prize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"  onclick="location.href='@Url.Action("DeleteProduct", "ProductDetail")'" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
